################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/vs/.vs
/vs/attack/x64/Debug
/vs/x64/Debug
/vs/attack.vcxproj.user
/vs/attack.vcxproj.filters
/vs/attack/x64/Release
/vs/x64/Release
